<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208005039506-v8hdtf1gq1hkbs58l6hsiui8kfbprqfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208005039506-v8hdtf1gq1hkbs58l6hsiui8kfbprqfv</string>
	<key>API_KEY</key>
	<string>AIzaSyBWNceyM6Znr3FxQmXpRE1r_ac00SlTbs8</string>
	<key>GCM_SENDER_ID</key>
	<string>208005039506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.airking.sirkl</string>
	<key>PROJECT_ID</key>
	<string>sirkl-e138d</string>
	<key>STORAGE_BUCKET</key>
	<string>sirkl-e138d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208005039506:ios:8b152ba0215b7dcd892d4b</string>
</dict>
</plist>